/* CSS Variables */
:root {
	--bg: ;
}

/* Base Jumbotron Styling */
.jumbotron {
	background: url('https://source.unsplash.com/1400x750') center center scroll
		no-repeat;
	background-size: cover;
	box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.4);
	height: 100vh;
}

/* Class added to Jumbotron On click*/
.jumbotron-swoosh {
	position: relative;
	height: 105vh; /* Increase height of Jumbotron on dropdown click */
	padding-bottom: 170px; /* Add bottom padding same height as the svg element to center copy */
}

/* Switch SVG */
.jumbotron:after {
	display: block;
	position: absolute;
	content: '';
	background: var(--bg) center center no-repeat;
	background-size: cover;
	height: 170px;
	min-width: 100%;
	bottom: 0;
}
